:root {
  --bg-color: #ffffff;
  --shadow-color: #00000033;
  --hbar-color: #808080;
  --toolbar-hover-color: #ffb6c14d;
  --toolbar-selected-color: #ffb6c199;
  --btn-color: #000000;
}

.dark-mode {
  --bg-color: #121212;
  --shadow-color: #ffffff33;
  --hbar-color: #717171;
  --toolbar-hover-color: #c1ffb24d;
  --toolbar-selected-color: #c1ffb699;
  --btn-color: #ffffff;
}

body {
    display: block;
    top: 0;
    left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--bg-color);
}

canvas {
  background-color: white;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#app {
  display: flex;
  justify-content: center;
}

#toolbar {
  position: absolute;
  z-index: 10;
  margin: 1rem;
  background-color: var(--bg-color);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 0.5rem var(--shadow-color);
  border-radius: 2rem;
}

.toolbar-btn {
  background-color: var(--bg-color);
  color: var(--btn-color);
  border: 0;
  margin: 0.1rem 0.2rem;
  cursor: pointer;
  border-radius: 100%;
  height: 2.2rem;
  width: 2.2rem;
  transition: background-color 0.2s ease-in-out;
}

svg {
  vertical-align: -3px;
}

.hbar {
  width: 0.1rem;
  height: 1.4rem;
  background-color: var(--hbar-color);
  margin: 0 0.25rem;
  /* flex-shrink: 0; */
}

.toolbar-btn:hover {
  background-color: var(--toolbar-hover-color);
}

.tool-btn-selected {
  background-color: var(--toolbar-selected-color);
}

#drawing-board {
  height: 100vh;
  cursor: crosshair;
}

#sun-theme {
  display: block;
}
#moon-theme {
  display: none;
}

.dark-mode #sun-theme {
  display: none;
}
.dark-mode #moon-theme {
  display: block;
}

#stroke-bar{
  position: absolute;
  align-self: center;
  right: 0;
  margin-right: 1rem;
  background-color: var(--bg-color);
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 0.5rem var(--shadow-color);
  border-radius: 4rem;
}

#color-input {
  margin: 0.4rem 0.4rem 1rem 0.4rem;
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  cursor: pointer;
  border: none;
}

#color-input::-webkit-color-swatch {
  border: 0;
  border-radius: 100%;
}

#width-input {
  writing-mode: vertical-lr;
  direction: rtl;
  vertical-align: middle;
  accent-color: var(--toolbar-selected-color);
  border: none;
}
