:root {
  --bg-color: #ffffff;
  --shadow-color: #00000033;
  --hbar-color: #808080;
  --toolbar-hover-color: #ffb6c14d;
  --toolbar-selected-color: #ffb6c199;
  --btn-color: #000000;
}

.dark-mode {
  --bg-color: #121212;
  --shadow-color: #ffffff33;
  --hbar-color: #717171;
  --toolbar-hover-color: #c1ffb24d;
  --toolbar-selected-color: #c1ffb699;
  --btn-color: #ffffff;
}

body {
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--bg-color);
}

#app {
  display: flex;
  justify-content: center;
}

#drawing-board {
  background-color: white;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: crosshair;
  touch-action: none;
}

/*beginning of the styles for the top toolbar */

#top-ui-container {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: max-content;
  max-width: 95vw;
}

#toolbar {
  background-color: var(--bg-color);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 0.5rem var(--shadow-color);
  border-radius: 2rem;
}

.toolbar-btn {
  background-color: var(--bg-color);
  color: var(--btn-color);
  border: 0;
  margin: 0.1rem 0.2rem;
  cursor: pointer;
  border-radius: 100%;
  height: 2.2rem;
  width: 2.2rem;
  transition: background-color 0.2s ease-in-out;
}

.hbar {
  width: 0.1rem;
  height: 1.4rem;
  background-color: var(--hbar-color);
  margin: 0 0.25rem;
}

.toolbar-btn:hover {
  background-color: var(--toolbar-hover-color);
}

.tool-btn-selected {
  background-color: var(--toolbar-selected-color);
}

svg {
  vertical-align: -3px;
}

#bg-color-picker {
  /* margin: 0.4rem 0.4rem 1rem 0.4rem; */
  appearance: none;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  /* border: 2px solid var(--btn-color); */
  box-shadow: 0 0 1rem var(--shadow-color);
  background-color: var(--bg-color);
}

#bg-color-picker::-webkit-color-swatch {
  border: 0.2rem solid var(--bg-color);
  border-radius: 100%;
}

/*end of the styles for the top toolbar */

#sun-theme {
  display: block;
}
#moon-theme {
  display: none;
}

.dark-mode #sun-theme {
  display: none;
}
.dark-mode #moon-theme {
  display: block;
}

/* beginning of the styles for the sidebar */

#stroke-bar {
  width: fit-content;
  position: absolute;
  align-self: center;
  right: 0;
  margin-right: 1rem;
  background-color: var(--bg-color);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 0.5rem var(--shadow-color);
  border-radius: 4rem;
}

#color-input {
  margin: 0.4rem 0.4rem 1rem 0.4rem;
  appearance: none;
  min-height: 2rem;
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  cursor: pointer;
  border: none;
}

#color-input::-webkit-color-swatch {
  border: 0;
  border-radius: 100%;
}

#width-input {
  writing-mode: vertical-lr;
  direction: rtl;
  vertical-align: middle;
  accent-color: var(--toolbar-selected-color);
  border: none;
  margin: 0 0 0.5rem 0;
}

#slider-value {
  margin: 0;
  display: grid;
  place-items: center;
  border: 1px;
  border-radius: 100%;
  border-color: var(--btn-color);
  border-style: dashed;
  min-height: 2rem;
  min-width: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0.4rem 0 0.2rem 0;
}

#slider-value-text {
  position: relative;
  color: var(--btn-color);
  font-size: large;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* end of the styles for the sidebar */

@media (max-width: 800px) {
  #top-ui-container {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
    flex-direction: column;
  }

  #toolbar {
    /* position: absolute; */
    flex-direction: column;
  }

  .hbar {
    width: 1.4rem;
    height: 0.1rem;
  }

  #stroke-bar {
    flex-direction: row;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  #width-input {
    writing-mode: horizontal-tb;
    direction: ltr;
    margin: 0 1rem 0 1rem;
  }

  #color-input {
    margin: 0 0 0 0.5rem;
  }

  #slider-value {
    margin: 0.2rem 0.5rem 0.2rem 0;
  }
}
